<h2>Template: <small>Dinámics</small></h2>

<hr/>
<div class="row">
  <div class="col">
    <form (ngSubmit)="saveForm()"
          #MyFormDynamic="ngForm"
          autocomplete="off"
    >
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 name="name_person"
                 [ngModel]="person.name"
                 placeholder="Name of person"
                 required
                 minlength="3"
          >
          <span
            *ngIf="nameDynamic()"
            class="form-text text-danger">Error: Min 3 letters...</span>
        </div>
      </div>

      <!--Add Likes Favorites-->

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Add</label>
        <div class="col-sm-9">
        <div class="input-group mb-3">
          <input type="text"
                 class="form-control"
                 name="new_game"
                 [(ngModel)]="newGame"
                 (keyup.enter)="addGame()"
                 placeholder="Recipient's Movie Favorites"
                 required
          />
          <div class="input-group-append">
            <button
                    [disabled]="!gameDynamic()"
                    (click)="addGame()"
                    class="btn btn-outline-primary"
                    type="button">
              Add Game
            </button>
          </div>
        </div>
        </div>
      </div>


      <!--List Likes Favorites-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favorites</label>
        <div class="col-sm-9">
          <div class="input-group mb-1" *ngFor="let list of person.favorites, let i = index">
          <input
                 type="text"
                 name="game_{{i}}"
                 [(ngModel)]="list.title"
                 class="form-control"
                 placeholder="Name Favorites"
                 required
          >
            <div class="input-group-append">
              <button class="btn btn-outline-danger"
                      (click)="deleteList(i)"
                      type="button">
                Delete Item
              </button>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button type="submit"
                  class="btn btn-primary float-end"
                  [disabled]="MyFormDynamic.invalid"
          >
            Save
          </button>
        </div>
      </div>


    </form>
  </div>
</div>


<hr>


<span>Person: </span>
<pre>{{person | json}}</pre>


