<h2>Template - Switches</h2>
<hr/>
<div class="row">
  <div class="col">
    <form
      [formGroup]="MyFormSwitch"
      (ngSubmit)="saveForm()"
      autocomplete="off">
      <!-- Radios Form -->
      <div class="row mb-3">
        <label class="col-sm-3 col-from-label">Género</label>
        <div class="col-sm-9">
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   value="M"
                   formControlName="gender"
                   id="men">
            <label class="form-check-label" for="men">
              Men
            </label>
          </div>
          <div class="form-check">
            <input required
                   class="form-check-input"
                   type="radio"
                   value="F"
                   formControlName="gender"
                   id="woman">
            <label class="form-check-label" for="woman">
              Woman
            </label>
          </div>
        </div>
      </div>
      <!-- Switch -->
      <div class="row mb-3">
        <label class="col-sm-3 col-from-label">
          Notifications</label>
        <div class="col-sm-9">
          <div class="form-check form-switch">
            <input class="form-check-input"
                   type="checkbox"
                   id="flexSwitchCheckChecked"
                   formControlName="notify"
            >
            <label class="form-check-label"
                   for="flexSwitchCheckChecked">¡Want get notifications!</label>
          </div>
        </div>
      </div>
      <!-- Check -->
      <div class="row mb-3">
        <label class="col-sm-3 col-from-label">
          Check Box</label>
        <div class="col-sm-9">
          <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   formControlName="term"
                   id="term">
            <label class="form-check-label" for="term">
              I authorize terms and conditions
            </label>
          </div>
        </div>
      </div>
      <!--Button-->
      <div class="row mb-3">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary"
          >
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<h4>Value Form</h4>
<hr/>
<pre>{{MyFormSwitch.value | json}}</pre>
<h5>Validate</h5>
<pre>{{MyFormSwitch.valid }}</pre>

