<h2>Template - Switches</h2>
<hr/>
<div class="row">
  <div class="col">
    <form (ngSubmit)="saveForm()"
          #MyFormSwitches="ngForm"
          autocomplete="off"
    >
      <!-- Radios Form -->
      <div class="row mb-3">
        <label class="col-sm-3 col-from-label">Género</label>
        <div class="col-sm-9">
          <div class="form-check">
            <input required
                   class="form-check-input"
                   type="radio"
                   value="M"
                   [(ngModel)]="person.gender"
                   name="radioGender"
                   id="men">
            <label class="form-check-label" for="men">
              Men
            </label>
          </div>
          <div class="form-check">
            <input required
                  class="form-check-input"
                   type="radio"
                   value="F"
                   [(ngModel)]="person.gender"
                   name="radioGender"
                   id="woman">
            <label class="form-check-label" for="woman">
              Woman
            </label>
          </div>
        </div>
      </div>
      <!-- Switch -->
      <div class="row mb-3">
        <label class="col-sm-3 col-from-label">
          Notifications</label>
        <div class="col-sm-9">
          <div class="form-check form-switch">
            <input class="form-check-input"
                   type="checkbox"
                   id="flexSwitchCheckChecked"
                   name="switch"
                   [(ngModel)]="person.switch"
                   required
                  >
            <label class="form-check-label"
                   for="flexSwitchCheckChecked">¡Want get notifications!</label>
          </div>
        </div>
      </div>
      <!-- Check -->
      <div class="row mb-3">
        <label class="col-sm-3 col-from-label">
          Check Box</label>
        <div class="col-sm-9">
            <div class="form-check">
              <input class="form-check-input"
                     type="checkbox"
                     name="check"
                     [(ngModel)]="term"
                     required
                     id="term">
              <label class="form-check-label" for="term">
                I authorize terms and conditions
              </label>
            </div>
        </div>
      </div>
      <!--Button-->
      <div class="row mb-3">
        <div class="col">
          <button
            [disabled]="MyFormSwitches.invalid"
            type="submit"
            class="btn btn-primary"
          >
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<h4>Value Form</h4>
<hr/>
<pre>{{MyFormSwitches.value | json}}</pre>
<h5>Validate</h5>
<pre>{{MyFormSwitches.valid }}</pre>
<h5>Validate Term</h5>
<pre>{{MyFormSwitches.controls?.check?.errors  | json }}</pre>
