<h2>Template - Básic</h2>
<hr/>
<div class="row">
  <div class="col">
    <form
      (ngSubmit)="saveForm()"
      [formGroup]="MyForm"
      autocomplete="off"
    >

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="product"
            placeholder="Name of product"
          />
          <span
            *ngIf="inputValidate('product')"
            class="form-text text-danger">Error: Min 3 letters...</span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            formControlName="price"
            placeholder="Price of product"
          />
          <span
            *ngIf="inputValidate('price')"
            class="form-text text-danger">This price positive or higher...</span>
        </div>

      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Exist</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            formControlName="exist"
            placeholder="Exist product"
          />
          <span
            *ngIf="inputValidate('exist')"
            class="form-text text-danger">This input required...</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit"
                  class="btn btn-primary float-end"
          >
            Save
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="row">
  <div class="col">
       <span>Valid</span>
       <pre>{{MyForm.valid}}</pre>

       <span>Pristine</span>
       <pre>{{MyForm.pristine}}</pre>

       <span>Touched</span>
       <pre>{{MyForm.touched}}</pre>

       <span>Valid</span>
       <pre>{{MyForm.value | json}}</pre>

       <span>Custom Directive</span>
       <pre>{{MyForm.controls.exist?.errors | json}}</pre>
  </div>
</div>

