<h2>Validations Reactives</h2>
<hr>

<div class="container row">
  <div class="col">
    <form
      [formGroup]="miForm"
      (ngSubmit)="sendForm()"
      autocomplete="off">
    <!--Name-->
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Name</label>
      <div class="col-sm-9">
        <input type="text"
               formControlName="name"
               class="form-control"
               placeholder="Name of user"
        />
        <span
          *ngIf="inputInvalid('name')"
          class="form-text  text-danger">Must be in last name format.</span>
      </div>
    </div>

    <!--Name-->
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-9">
        <input type="email"
               class="form-control"
               placeholder="Email of user"
               formControlName="email"
        />
        <span
          *ngIf="inputInvalid('email')"
          class="form-text  text-danger">
          {{emailErrorMsg}}
        </span>
      </div>
    </div>

    <!--Username-->
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Username</label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               placeholder="Name unique"
               formControlName="username"
        />
        <span
          *ngIf="inputInvalid('username')"
          class="form-text  text-danger">This input can't be name strider.</span>
      </div>
    </div>

    <!--Password-->
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Password</label>
      <div class="col-sm-9">
        <input type="password"
               class="form-control"
               placeholder="Password"
               formControlName="password"
        />
        <span
          *ngIf="inputInvalid('password')"
          class="form-text  text-danger">This input password must have more than 6 characters.</span>
      </div>
    </div>

    <!--Confirm Password-->
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Password Confirm</label>
      <div class="col-sm-9">
        <input type="password"
               class="form-control"
               placeholder="Password Confirm"
               formControlName="password2"
        />
        <span
          *ngIf="inputInvalid('password2')"
          class="form-text  text-danger">Password must be equals.</span>
      </div>
    </div>

      <div class="col mb-4">
        <button
          type="submit"
          [disabled]="miForm.pending"
          class="btn btn-outline-primary float-end"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>


<h5>Form Valid: </h5>
<pre>{{miForm?.valid}}</pre>

<h5>Form Errors: </h5>
<pre>{{miForm?.errors | json}}</pre>

<h5>Form Status: </h5>
<pre>{{miForm?.status }}</pre>

<h5>Form Status Pending: </h5>
<pre>{{miForm.pending }}</pre>

<h5>Error input name: </h5>
<pre>{{miForm?.controls?.name?.errors | json}}</pre>

<h5>Error input email: </h5>
<pre>{{miForm?.controls?.email?.errors | json}}</pre>

<h5>Error input user name: </h5>
<pre>{{miForm?.controls?.username?.errors | json}}</pre>
