<h1>Forms Angular</h1>
<hr>
<h2>Template</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of templateMenu" [routerLink]="item.ruta"  routerLinkActive="active">
    {{item.txt}}
  </li>
</ul>
<hr>
<h2>Reactive</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of reactiveMenu" [routerLink]="item.ruta" routerLinkActive="active">
    {{item.txt}}
  </li>
</ul>
<hr>
<h2>Validations</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of validationMenu" [routerLink]="item.ruta" routerLinkActive="active">
    {{item.txt}}
  </li>
</ul>
