<h2>Template: <small>Dinámics</small></h2>

<hr/>
<div class="row">
  <div class="col">
    <form
      (ngSubmit)="saveForm()"
      [formGroup]="MyFormDynamic"
      autocomplete="off" >
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 formControlName="name_person"
                 placeholder="Name of person"
          >
          <span
            *ngIf="inputValidate('name_person')"
            class="form-text text-danger">Error: Min 3 letters...</span>
        </div>
      </div>

      <!--Add Likes Favorites-->

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Add</label>
        <div class="col-sm-9">
          <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   [formControl]="name_favorite"
                   placeholder="Recipient's Movie Favorites"
                   (keyup.enter)="addNewFavorite()"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-primary"
                type="button"
                [disabled]="name_favorite.invalid"
                (click)="addNewFavorite()"
              >
                Add Game
              </button>
            </div>
          </div>
        </div>
      </div>


      <!--List Likes Favorites-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favorites</label>
        <div class="col-sm-9" formArrayName="favorites">
          <div class="input-group mb-1" *ngFor="let favorite of favorites.controls; let i = index " >
            <input
              type="text"
              [formControlName]="i"
              class="form-control"
              placeholder="Name Favorites"
            >
            <div class="input-group-append">
              <button class="btn btn-outline-danger"
                      (click)="deleteItem(i)"
                      type="button">
                Delete Item
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit"
                  class="btn btn-primary float-end"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{MyFormDynamic.valid}}</pre>

    <span>Pristine</span>
    <pre>{{MyFormDynamic.pristine}}</pre>

    <span>Touched</span>
    <pre>{{MyFormDynamic.touched}}</pre>

    <span>Value</span>
    <pre>{{MyFormDynamic.value | json}}</pre>

    <span>Input Dependency</span>
    <pre>{{name_favorite.invalid}}</pre>
    <pre>{{name_favorite.value}}</pre>



  </div>
</div>







